<div class="container" style="display:none">
  <p>{{'thamarai' | uppercase}}</p>
  <p>{{'thamarai selvan' | titlecase | slice:9}}</p>
  <p>{{'566' | number:'2.1-2'}}</p>
  <p>{{'566' | percent:'2.1-2'}}</p>
  <p>{{'566' | currency:'INR ':false}}</p>
  <p>{{dates | date:'EEEE MMMM, d, y H:mm:ss  ZZZZ':'GMT':'en-GB'}}</p>
 <p>{{dates | date:'E, EE, EEE, EEEE, EEEEE':'GMT':'en-GB'}}</p>
 <p>{{dates | date:'M, MM, MMM, MMMM':'GMT':'en-GB'}}</p>
</div>

<div class="container" style="display: none;" >
  <p *ngIf="names | async; else elB">{{names | async }}</p>
  <ng-template #elB>
    <p>Loading Please Wait...</p>
  </ng-template>

  <ol *ngIf= "nameList |  async as list;else elB">
    <li *ngFor="let name of list">
      {{name}}
    </li>
  </ol>
</div> 


<div class="container">
  <div class="form-group">
    <label for="fahrenheit">Fahrenheit to celsius</label>
    <input name="fahrenheit" type="text" class="form-control" [(ngModel)]="fahrenheit" #fah>
    <strong>celsius is {{fahrenheit | myPipe:'C'}}</strong>
  </div>

  <div class="form-group">
    <label for="celsius">celsius to Fahrenheit</label>
    <input name="celsius" type="text" class="form-control" [(ngModel)]="celsius" #cel>
    <br>
    <strong>Fahrenheit is {{celsius | myPipe:'F'}}</strong>
  </div>

    <div class="form-group">
    <label for="celsius">Select date</label>
    <input name="celsius" type="date" class="form-control" [(ngModel)]="dates" #dat>
    <br>
    <strong>Selected date is {{dates | myPipe:'D'}}</strong>
  </div>

</div> 